.circle-item{
    transform: translate(10rem);
}

@media (min-width: 768px) {
    .circle-item {
            transform: translate(15rem);
    }
}

@media (min-width: 1024px) {
    .circle-item {
            transform: translate(20rem);
    }
}